@import '../../styles/settings.scss';

.cardForm {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

;

.span {
  margin: 5px 5px 5px 5px;
}

.input {

  border-radius: 5px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 18px;
}

.icon::before {
  padding-right: $base-size;
  color: $color-warning;
  font-size: ($base-size * 2);
  vertical-align: middle;
  position: relative;
}